.expensesfilter {
  color: white;
  padding: 0 1rem;
}

.expensesfiltercontrol {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.expensesfilter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #636060;
}

.expensesfilter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}