.newexpense {
  background-color: #fff;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
}

.newexpense button {
  cursor: pointer;
  background: #00ce89;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 6px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.newexpense button:hover,
.newexpense button:active {
  background-color: #ddd;
  border-color: #aaa;
}
